.project-page {
    width: 100vw;
    height: auto;
    background: #F1EFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-page-container {
    width: 100%;
    height: auto;
    max-width: 1400px;
    padding: 0px 5vmin;
}

.project-btn-con {
    background: #5555ff5b;
    margin-left: 10%;
    margin-top: 5vmin;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 4px dotted black;
    padding: 6px 8px 8px 6px;
}

.project-txt button {
    width: 120px;
    height: 120px;
    color: #F1EFF1;
}




/* Tab */

.title {
    margin-bottom: 25px;
    color: #AEB6BF;
    font-size: 18px;
}

.title span {
    color: #5DADE2;
}

.content {
    width: 98%;
    margin: 45px auto;
}


.tabs-header {
    display: table;
    width: 100%;
    list-style-type: none;
}

.tabs-header li {
    display: table-cell;
    text-align: center;
    color: #ECF0F1;
    cursor: pointer;
}

.tabs-header li>a {
    display: block;
    padding: 15px;
    color: var(--white);
    font-weight: bolder;
    background: linear-gradient(144.94deg, #515151 -16.22%, #21232B 42.45%);
    transition: all .2s ease-in;
    transform: skew(-40deg);
}

.tabs-header li>a span {
    display: block;
    transform: skew(40deg);
}

.tabs-header li>a:hover {
    background: #2471A3;
    color: #F7F9F9;
}

.tabs-header li.active>a {
    color: var(--white);
    font-weight: bolder;
    background: linear-gradient(144.94deg, #415c79 -16.22%, #033a5a 42.45%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tabs-content {
    margin-top: 15px;
    position: relative;
    padding: 20px 25px;
    overflow: hidden;
    color: #000;
    background: #000;
    height: 50vh;
}

.tabs-content .tabs-textItem {
    display: none;
    transform: translateY(100%);
}

.tabs-content .tabs-textItem.show {
    display: block;
    transform: translateY(0);
    animation: change .49s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tabs-content .tabs-textItem p {
    font: normal 15px/1.5 'Open Sans';
    color: #F2F3F4;
}

@keyframes change {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}